<header class="bg-slate-900  text-slate-300 sm:w-[250px] sm:flex-none">
    <div class="flex items-center justify-between px-4">
        <img class="h-10 " src="/images/logo_icon.svg" alt="logo icon">
        <h1 class="font-bold text-3xl m-4 text-center "><a href="/">Wax Shelf</a></h1>
        <button class="sm:hidden" id="toggleBtn"><img class="h-10" src="/images/menu_icon.svg" alt=""></button>
    </div>

    <!-- <hr class="bg-indigo-500 h-[2px] border-0 mb-4 sm:mb-2 "> -->
    <nav
        class="invisible opacity-0 grid transition-all ease-in-out delay- duration-250  w-full z-10 absolute bg-slate-950 px-2 gap-6  p-8 mb-6  sm:px-4 sm:py-4 sm:justify-content-start sm:grid-flow-row sm:grid sm:bg-slate-900 sm:visible sm:opacity-100 sm:w-auto">

        <ul class="grid gap-4 justify-items-end w-full mx-auto sm:gap-6 sm:grid-cols-1 sm:justify-items-start sm:mx-0">
            <h2 class=" font-bold text-3xl text-slate-500 sm:text-indigo-400 ">Browse</h2>
            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row"
                href=" /collection">
                <img class="h-6 mr-2" src="/images/summary_icon.svg" alt="summary icon">Summary</a>
            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md  hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row"
                href=" /collection/records">
                <img class="h-6 mr-2" src="/images/vinyl_icon.svg" alt="vinyl icon">Records</a>
            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row"
                href=" /collection/artists">
                <img class="h-6 mr-2" src="/images/artist_icon.svg" alt="artist icon">Artists</a>
            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row"
                href=" /collection/genres">
                <img class="h-6 mr-2" src="/images/genre_icon.svg" alt="genre icon">Genres</a>
        </ul>
        <hr class="bg-indigo-500 h-px  border-0 hidden sm:block">
        <ul class="grid gap-4 justify-items-end w-full mx-auto sm:gap-6 sm:grid-cols-1 sm:justify-items-start sm:mx-0">
            <h2 class="font-bold text-3xl text-slate-500 sm:text-indigo-400 ">Create</h2>

            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md col-span-1 col-start-1 hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row "
                href=" /collection/record/create"><img class="h-6 mr-2" src="/images/new_icon.svg" alt="new icon">
                Record</a>
            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md col-span-1 col-start-1 hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row "
                href=" /collection/artist/create"><img class="h-6 mr-2" src="/images/new_icon.svg" alt="new icon">
                Artist</a>
            <a class="inline-flex text-xl font-bold flex-row-reverse gap-4 items-center text-md col-span-1 col-start-1 hover:text-indigo-400 active:font-bold focus:font-bold sm:flex-row "
                href=" /collection/genre/create"><img class="h-6 mr-2" src="/images/new_icon.svg" alt="new icon">
                Genre</a>
        </ul>
        <button class=" flex w-fit mx-auto sm:hidden" id="closeBtn"><img class="h-10" src="/images/up_chevron.svg"
                alt=""></button>

    </nav>
</header>